*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("Images/map-of-the-world-2401458.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container
{
    height: 175px;
    width: 300px;
    background: rgba( 96, 96, 96, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.container .clock
{
    text-align: center;
    color: white;
}